{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb/base",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/react",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    },
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "fragment": "Fragment",
      "version": "detect",
      "flowVersion": "0.53"
    },
    "propWrapperFunctions": [
      "forbidExtraProps",
      {
        "property": "freeze",
        "object": "Object"
      },
      {
        "property": "myFavoriteWrapper"
      }
    ],
    "componentWrapperFunctions": [
      "observer",
      {
        "property": "styled"
      },
      {
        "property": "observer",
        "object": "Mobx"
      },
      {
        "property": "observer",
        "object": "<pragma>"
      }
    ],
    "linkComponents": [
      "Hyperlink",
      {
        "name": "Link",
        "linkAttribute": "to"
      }
    ]
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "prettier",
    "react"
  ],
  "ignorePatterns": [
    "*.config.js",
    "node_modules/",
    "dist/"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-console": "warn",
    "max-len": [
      "warn",
      {
        "code": 120
      }
    ],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "import/prefer-default-export": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-magic-numbers": [
      "error",
      {
        "ignoreArrayIndexes": true
      }
    ],
    "max-lines-per-function": [
      "error",
      {
        "max": 40,
        "skipBlankLines": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  }
}
