.card {
  width: 250px;
  min-height: 300px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  background: #eceff1;

  & .image {
    width: 250px;
    height: 160px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px 4px 0 0;

    img {
      height: 100%
    }
  }

  & .content {
    width: 100%;
    height: calc(100% - 160px);
    padding: 10px 20px;
    color: #37474f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-weight: 500;
      color: #37474f;
    }

    & .like {
      width: 24px;
      margin-right: 10px;
    }
    & .action_wrapper {
      display: flex;
      align-items: center;
    }
    & .view {
      width: 30px;
      margin-right: 10px;
    }
    & .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
